

#lineOfSight{
    position:absolute;
    margin:auto;
    width:500px;
    height:500px;
    
    
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translateY(-40%);
    
    }
    
    
    #fetcher{
        position: absolute;
        color:green;
        background-color: black;
        left: 50%;
        transform: translateY(75px);
    }
    
    body{
        
         background-image:linear-gradient(45deg,orangered,orange,yellow), url(pexels-dominika-roseclay-2023384.jpg);
        background-size: 500px,500px;
        background-color: linear-gradient(red,green,blue);

        
         
        background-repeat: repeat-x;
    }
    #dogImage{
        position: relative;
        width:100%;
        height:100%;
    }
    .text{
        text-decoration: chartreuse;
    
    }
